::-webkit-scrollbar {
	width: 0px;
}
.depositary_coins {
	height: 100%;
}
.golden {
	width: 100px;
	border-radius: 50%;
}
@media (max-width: 768px){
	.card-footer{
		display: none;
	}
}
@media (max-width: 576px){
	.card-table-two{
		margin-top: 4px ;
	}
}
.btn{
	font-size: 2rem;
}

