::-webkit-scrollbar {
	width: 0px;
}
.depositary_coins {
	height: 100%;
}
.form-control {
	border-radius: 10px;
}
.btn{
	font-size: 2rem;
}
#modaldemo3,
#settingsModal,
#scrollableModal {
	background-color: rgba(0, 0, 0, .8);
}
@media (max-width: 768px){
	.card-footer{
		display: none;
	}

}
@media (max-width: 576px){
	.card-table-two{
		margin-top: 4px ;
	}
}
@media (min-width: 960px){
	.az-chat-footer{
		border-radius: 10px;
	}	
}




