::-webkit-scrollbar {
	width: 0px;
}



.golden {
	width: 100px;
	border-radius: 50%;
}
@media (max-width: 768px){
	.card-footer{
		display: none;
	}
}
@media (max-width: 576px){
	.card-table-two{
		margin-top: 30px ;
	}
}

