<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="lib/lightslider/css/lightslider.min.css" rel="stylesheet">
    <link href="lib/cryptofont/css/cryptofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    

    <!-- azia CSS -->
    <link rel="stylesheet" href="css/azia.css">
    <!-- <link rel="stylesheet" href="css/azia.css"> -->

  </head>
  <body> 
 
    <!-- HEADER -->
    <header class="header">

      <div class="az-header az-header-dashboard-four">
        <div class="container-fluid">
          <div class="az-header-left">
            <a href="index.html" class="az-logo">Биржа
            <a href="" id="azNavShow" class="az-header-menu-icon d-lg-none"><span></span></a>
          </div><!-- az-header-left -->
          <div class="az-header-center">
            
          </div><!-- az-header-center -->
          <div class="az-header-right">
            <div class="az-header-message">
              <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
            </div><!-- az-header-message -->
            <div class="dropdown az-header-notification">
              <a href="" class="new"><i class="typcn typcn-bell"></i></a>
              <div class="dropdown-menu">
                <div class="az-dropdown-header mg-b-20 d-sm-none">
                  <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                </div>
                <h6 class="az-notification-title">Notifications</h6>
                <p class="az-notification-text">You have 2 unread notification</p>
                <div class="az-notification-list">
                  <div class="media new">
                    <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                    <div class="media-body">
                      <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                      <span>Mar 15 12:32pm</span>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media new">
                    <div class="az-img-user online"><img src="https://via.placeholder.com/500x500" alt=""></div>
                    <div class="media-body">
                      <p><strong>Joyce Chua</strong> just created a new blog post</p>
                      <span>Mar 13 04:16am</span>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                    <div class="media-body">
                      <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                      <span>Mar 13 02:56am</span>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                    <div class="media-body">
                      <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                      <span>Mar 12 10:40pm</span>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- az-notification-list -->
                <div class="dropdown-footer"><a href="">View All Notifications</a></div>
              </div><!-- dropdown-menu -->
            </div><!-- az-header-notification -->
            <div class="dropdown az-profile-menu">
              <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
              <div class="dropdown-menu">
                <div class="az-dropdown-header d-sm-none">
                  <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                </div>
                <div class="az-header-profile">
                  <div class="az-img-user">
                    <img src="https://via.placeholder.com/500x500" alt="">
                  </div><!-- az-img-user -->
                  <h6>Aziana Pechon</h6>
                </div><!-- az-header-profile -->
  
                <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
              </div><!-- dropdown-menu -->
            </div>
          </div><!-- az-header-right -->
        </div><!-- container -->
      </div><!-- az-header -->
    </header>

    <!-- MIDDLE -->
    <div class="middle d-flex col-lg-12">

    <div class="middle-content  col-lg-9">


    <div class="gold_chart">
      <div class="card card-minimal-two">
        <div class="card-header">
          <nav class="nav nav-pills">
            <a class="nav-link active" data-toggle="tab" href="#">Курс золота</a>
          </nav>
          <div class="card-header-right">
            <nav class="nav nav-pills">
              <a href="" class="nav-link"><span>Час</span><span>h</span></a>
              <a href="" class="nav-link active"><span>день</span><span>d</span></a>
              <a href="" class="nav-link"><span>неделя </span><span>w</span></a>
              <a href="" class="nav-link"><span>месяц </span><span>m</span></a>
              <a href="" class="nav-link"><span>год</span><span>y</span></a>
              <a href="" class="nav-link">Всё</a>
            </nav>
          </div><!-- card-header-right -->
        </div>
        <div class="card-body">
          <div class="flot-wrapper"><div id="flotChart2" class="flot-chart"></div></div>
          <div class="more-info">
            <div><span>Change</span><span>$6.52</span></div>
            <div><span>Market Cap</span><span>$0.11T</span></div>
            <div><span>Supply</span><span>17,355,513</span></div>
          </div><!-- more-info -->
        </div><!-- card-body -->
        <div class="card-footer">
          <div class="media">
            <div class="media-icon"><img class="golden" src="img/Gold.png" alt=""></div>
            <div class="media-body">
              <div class="row row-sm">
                <div class="col">
                  <label>СИМВОЛ </label>
                  <p>AU</p>
                </div>
                <div class="col-3">
                  <label>ЦЕНА ЭТАЛОН</label>
                  <p>100.00%</p>
                </div>
                <div class="col">
                  <label>Цена (USD)</label>
                  <p>$6,316.88</p>
                </div>
                <div class="col">
                  <label>ИЗМЕНЕНИЕ (24Ч)</label>
                  <p>-0.54%</p>
                </div>
                <div class="col">
                  <label>РЫНОЧНАЯ КАПИТАЛИЗАЦИЯ</label>
                  <p>$109.04B</p>
                </div>
              </div><!-- row -->
            </div><!-- media-body -->
          </div><!-- media -->
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- media-body -->
    
    <div class="sale_qiotes">

    </div>
    <div class="lots">

    </div>

    <div class="depositary_coins">

    </div>
    
    </div> 

    

    
    <div class="news col-lg-3">
      <div class="media-aside ">
        <div class="row row-sm">
          <div class="col-md-6 col-lg-3 col-xl-12">
          </div><!-- col -->
          <div class="col-md-6 col-lg-8 col-xl-12">
            <div class="card card-dashboard-events">
              <div class="card-header">
                <h6 class="card-title">November 2018</h6>
                <h5 class="card-subtitle">Новости</h5>
              </div><!-- card-header -->
              <div class="card-body">
                <div class="list-group">
                  <div class="list-group-item">
                    <div class="event-indicator bg-purple"></div>
                    <label>Nov 20 <span>Tuesday</span></label>
                    <h6>PH World Mall Lantern Festival</h6>
                    <p><strong>8AM - 4PM</strong> Bay Area, San Francisco</p>
                    <small><span class="tx-danger">Sold Out</span> (3000 tickets sold)</small>
  
                    <div class="event-user">
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="">20+ more</a>
                    </div><!-- az-event-user -->
                  </div><!-- list-group-item -->
                  <div class="list-group-item">
                    <div class="event-indicator bg-primary"></div>
                    <label>Nov 23 <span>Friday</span></label>
                    <h6>Asia Pacific Generation Workshop</h6>
                    <p><strong>8AM - 5PM</strong> Singapore</p>
                    <small><span class="tx-warning">Sold Out Soon</span> (12 tickets left)</small>
  
                    <div class="event-user">
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="">20+ more</a>
                    </div><!-- az-event-user -->
                  </div><!-- list-group-item -->
                  <div class="list-group-item">
                    <div class="event-indicator bg-pink"></div>
                    <label>Nov 23 <span>Friday</span></label>
                    <h6>Korea Smart Device Trade Show</h6>
                    <p><strong>8AM - 5PM</strong> Singapore</p>
                    <small><span class="tx-success">Free Registration</span> (Limited seats only)</small>
  
                    <div class="event-user">
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                      <a href="">20+ more</a>
                    </div><!-- az-event-user -->
                  </div><!-- list-group-item -->
                </div><!-- list-group -->
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- media-aside -->
    </div> 
    
  </div>



    <!-- FOOTER -->
    <div class="footer">

</div>

    </div>
  </body>
  <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/ionicons/ionicons.js"></script>
    <script src="lib/jquery.flot/jquery.flot.js"></script>
    <script src="lib/jquery.flot/jquery.flot.pie.js"></script>
    <script src="lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="lib/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script src="js/azia.js"></script>
    <script src="js/chart.flot.sampledata.js"></script>
    <script>
      $(function(){
        'use strict'

        $.plot('#flotChart1', [{
            data: flotSampleData1,
            color: '#494c57'
          }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: false,
              fillColor: { colors: [ { opacity: 0 }, { opacity: 0.2 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0,
            aboveData: true
          },
    			yaxis: {
            show: false,
            reserveSpace: false,
            min: 0,
            max: 120
          },
    			xaxis: {
            show: true,
            color: 'rgba(102,16,242,.1)',
            reserveSpace: false,
            ticks: [[0,'1h'],[20,'12h'],[40,'1d'],[60,'1w'],[80,'1m']],
            font: {
              size: 11,
              weight: '700',
              family: 'Archivo,Arial,sans-serif',
              color: '#969dab'
            }
          }
    		});

        $.plot('#flotChart2', [{
            data: flotSampleData2,
            color: '#6610f2'
          }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0 }, { opacity: 0.2 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0,
            aboveData: true
          },
    			yaxis: {
            show: true,
            color: 'rgba(0,0,0,0.06)',
            ticks: [[0, ''], [15, '$6320'], [30, '$6340'], [45, '$6360'], [60, '$6380'], [75, '$6400']],
            min: 0,
            max: 80,
            font: {
              size: 11,
              weight: '600',
              family: 'Archivo, sans-serif',
              color: '#343640'
            }
          },
    			xaxis: {
            show: true,
            color: 'rgba(0,0,0,0.1)',
            ticks: [[0, '06:00'], [20, '09:00'], [40, '12:00'], [60, '13:00'], [80, '16:00'], [100, '19:00'], [120, '21:00'], [140, '23:00']],
            font: {
              size: 11,
              family: 'Arial, sans-serif',
              color: '#70737c'
            },
            reserveSpace: false
          }
    		});

        $.plot('#flotChart3', [{
            data: flotSampleData5,
            color: '#6610f2'
          }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0 }, { opacity: 0.06 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: true,
            min: 0,
            max: 120,
            color: 'rgba(0,0,0,0.08)'
          },
    			xaxis: {
            show: true,
            color: 'rgba(0,0,0,0.08)'
          }
    		});

        $.plot('#flotChart4', [{
            data: flotSampleData4,
            color: '#00cccc'
          }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0 }, { opacity: 0.06 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: true,
            min: 0,
            max: 120,
            color: 'rgba(0,0,0,0.08)'
          },
    			xaxis: {
            show: true,
            color: 'rgba(0,0,0,0.08)'
          }
    		});

        $.plot('#flotChart5', [{
            data: flotSampleData3,
            color: '#007bff'
          }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0 }, { opacity: 0.06 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: true,
            min: 0,
            max: 120,
            color: 'rgba(0,0,0,0.08)'
          },
    			xaxis: {
            show: true,
            color: 'rgba(0,0,0,0.08)'
          }
    		});

        $('#navComplex').lightSlider({
          autoWidth: true,
          pager: false,
          slideMargin: 3,
          onSliderLoad: function(el) {
            $('.lSPrev').addClass('disabled');
          },
          onBeforeSlide: function(el) {
            var curSlide = el.getCurrentSlideCount();
            var totalSlide = el.getTotalSlideCount();

            if(curSlide === 1) {
              $('.lSPrev').addClass('disabled');
            } else {
              $('.lSPrev').removeClass('disabled');
            }

            if((totalSlide - 3) === curSlide) {
              $('.lSNext').addClass('disabled');
            } else {
              $('.lSNext').removeClass('disabled');
            }
          }
        });

        $('.az-nav-tabs .tab-link').on('click', function(e) {
          e.preventDefault();
          $(this).addClass('active');
          $(this).parent().siblings().find('.tab-link').removeClass('active');

          var target = $(this).attr('href');
          $(target).addClass('active');
          $(target).siblings().removeClass('active');
        })


      });
    </script>
    
</html>
